.custom-list-group.a {
    border: 0;
}

.img-event {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 767px) {
    .img-event {
        border-top-right-radius: 0;
        border-bottom-left-radius: calc(.7rem - 1px);
    }
}

.fw-600 {
    font-weight: 600 !important;
}

.hoverTr:hover {
    background-color:#f5f5f5;
}

.logoCustom {
    border-radius: 70px;
    box-shadow: 1px 1px 8px #555;
}

.menu {
    margin-top: 1rem !important;
}
